// Bourbon & Neat
@import "bower_components/bourbon/dist/bourbon";
@import "bower_components/neat/app/assets/stylesheets/neat";

// Bootstrap
$icon-font-path: "bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

$border-radius-base: 0;

$navbar-default-bg: #000 !default;
$navbar-default-color: #fff !default;
$navbar-default-link-color: #fff !default;
$navbar-default-link-hover-color: #ccc !default;



// Lets get all the bootstrap barts we need now.
@import "bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/variables";
@import "bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/mixins";
@import "bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/normalize";

// Core
@import "bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/forms";
@import "bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/buttons";

// Parts
@import "bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/dropdowns";
@import "bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/navs";
@import "bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/navbar";
@import "bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/responsive-utilities";
