.testata

  .testata__bar(ng-class="{ \
    'bar--thick': barThick, \
    'bar--reverse': barReverse \
  }")

    ul.testata__nav

      li.link--home: a(href="#")
        i.fa.fa-home.fa-lg.icon
        span.text Startseite

      li.link--new: a(href="#") New Models

      li.link--calendar: a(href="#") Calendário

      li.link--support: a(href="#") Ondersteuning

      li.link--language: a(href="#")
        span.text Site Language
        i.fa.fa-caret-down.icon

      li.link--partner: a(href="#") DVDs On The Web

    .testata__users

      a.testata__btn.btn--join Compte gratuit

      .testata__form

        .form__group.group--email
          input(type="email" placeholder="Email Address")

        .form__group.group--password
          input(type="password" placeholder="Password")

        .form__group.group--login
          .testata__btn.btn--login Login

      .testata__btn.btn--menu
        span.text Login
        i.fa.fa-bars.icon

  .testata__header(ng-class="{ \
    'header--center': headerCenter, \
    'header--reverse': headerReverse \
  }")

    .testata__logo
      img(src="http://placehold.it/232x72&text=LOGO")

    .testata__fcs

      .testata__search
        input(type="text")

      .testata__categories(ng-if="!showCatButton")
        button Categories

      ul.testata__filters

        li: a(href="#")
          span.text Features
          i.fa.fa-caret-down.icon

        li: a(href="#")
          span.text Region
          i.fa.fa-caret-down.icon

        li: a(href="#")
          span.text Language
          i.fa.fa-caret-down.icon

        li: a(href="#")
          span.text Popularity
          i.fa.fa-caret-down.icon
