@import "imports";
@import "src/testata";


body {
  min-width: 300px;
}

.text {
  &:last-child {
    margin-left: .5em;
  }

  &:first-child {
    margin-right: .5em;
  }
}

button + button {
  margin-left: 1em;
}
