.btn-join {
  $gold: #f5cb07;
  @include button-variant(black, $gold, darken($gold, 10%));
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: (25em / 1000);
  width: 100%;
}

.btn-login {
  @include button-variant(white, #444, lighten(#444, 10%));
  text-transform: uppercase;

  .text {
    font-size: 90%;
  }

  .navbar-form & {
    width: 100%;
  }
}
