// Namespace
.testata {
  $spacing: $navbar-height / 10;
  $control-height: $navbar-height - $spacing;

  &__btn {
    width: 100%;
    margin: 0;
    padding: 0;
    line-height: $control-height;
    height: $control-height;
  }

  &__control {
    height: $control-height;
    width: 100%;
    font-size: 70%;
  }

  &__signup {
    display: none;

    @media (min-width: $screen-xs-min) {
      display: inline-block;
      margin-right: flex-gutter(7);
    }

    @media (min-width: $screen-md) {
      @include span-columns(2 of 7);
    }
  }

  &__user {
    margin: $spacing 0;
    @include flex(none);
    max-width: $screen-xs;
    padding: $nav-link-padding;
    padding-top: 0;
    padding-bottom: 0;

    @media (min-width: $screen-xs-min) {
      min-width: 250px;
    }

    @media (max-width: $screen-sm-max) {
      text-align: right;
    }

    & > .testata__btn {
      @media (min-width: $screen-md) {
        display: none;
      }
    }
  }

  &__form {
    @include span-columns(5 of 7);
    @include omega;

    @media (max-width: $screen-sm-max) {
      display: none;
    }

    .form-col-input {
      @include span-columns(8 of 22);
    }

    .form-col-button {
      @include span-columns(6 of 22);
    }

    .form-group {
      display: inline-block;
      margin-bottom: 0;
    }

    .btn {
      margin: 0;
      line-height: $control-height;
      padding: 0 ($spacing * 2);
    }
  }
}

.navbar-naiad {

  .link-home {
    display: none;

    @media (min-width: $screen-sm) {
      display: block;
    }

    .text {
      @media (max-width: $screen-md-max) {
        display: none;
      }
    }
  }

  .icon {
    margin: 0;

    @media (min-width: $screen-lg) {
      display: none;
    }
  }

  .link-support {
    @media (max-width: $screen-md-max) {
      display: none;
    }
  }

  .link-login {
    text-transform: uppercase;
    letter-spacing: (25em / 1000);
  }

  .link-calendar {
    display: none;

    @media (min-width: $screen-sm) {
      display: block;
    }
  }

  .link-language {
    display: none;

    @media (min-width: $screen-sm) {
      display: block;
    }
  }

}

.navbar-flex {
  @include display(flex);
  @include justify-content(space-between);
}

.navbar-menu {
  @include flex(none);
  max-height: $navbar-height;
  overflow: hidden;
  // padding: 0 $spacing 0 0;

  .navbar-nav {
    margin: 0;

    li {
      float: left;

      a {
        font-size: 75%;
        text-decoration: none;
      }

      &:last-child a {
        padding-right: 0;
      }
    }
  }
}

.navbar-user {
}

// .navbar-thin {
//   $base: $navbar-height - 10px;
//   $control-height: $navbar-height - ($navbar-height / 5);
//   $margin: ($navbar-height - $base) / 2;
//   $padding: ($navbar-height - $base) / 2;
//   $line-height: $base - $padding;

//   .form-control {
//     line-height: $line-height;
//     padding: ($padding / 2) ($padding * 2);
//     height: $control-height;
//   }

//   .btn {
//     line-height: $line-height;
//     padding: ($padding / 2) 10px;
//     height: $control-height;
//   }

//   .navbar-form {
//     margin: $margin 0;
//   }
// }
